<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ela.wallet.sdk.didlibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".activity.DidLaunchActivity"
            android:process=":did">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.ScanActivity"
            android:theme="@style/DIDTheme"
            android:process=":did" />

        <service
            android:name=".service.DidService"
            android:process=":did" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <activity
            android:name=".activity.BackupTipsActivity"
            android:theme="@style/DIDTheme"
            android:process=":did" />
        <activity
            android:name=".activity.WordShowActivity"
            android:theme="@style/DIDTheme"
            android:process=":did" />
        <activity
            android:name=".activity.WordInputActivity"
            android:theme="@style/DIDTheme"
            android:process=":did" />
        <activity
            android:name=".activity.ImportWalletActivity"
            android:theme="@style/DIDTheme"
            android:process=":did" />
        <activity
            android:name=".activity.ReChargeActivity"
            android:theme="@style/DIDTheme"
            android:process=":did" />
        <activity
            android:name=".activity.WithDrawActivity"
            android:theme="@style/DIDTheme"
            android:process=":did" />
        <activity
            android:name=".activity.LanguageActivity"
            android:theme="@style/DIDTheme"
            android:process=":did" />
        <activity
            android:name=".activity.PersonalActivity"
            android:theme="@style/DIDTheme"
            android:process=":did" />
        <activity
            android:name=".activity.HomeActivity"
            android:theme="@style/DIDTheme"
            android:process=":did" />
        <activity
            android:name=".activity.ReceiveActivity"
            android:theme="@style/DIDTheme"
            android:process=":did" />
        <activity
            android:name=".activity.SendActivity"
            android:theme="@style/DIDTheme"
            android:process=":did" />
        <activity
            android:name=".activity.RecordsActivity"
            android:theme="@style/DIDTheme"
            android:process=":did" />
        <activity
            android:name=".activity.InformationActivity"
            android:theme="@style/DIDTheme"
            android:process=":did" />
        <activity
            android:name=".activity.Ela2ElaActivity"
            android:theme="@style/DIDTheme"
            android:process=":did" />
        <activity
            android:name=".activity.PwdInputActivity"
            android:theme="@style/DIDTheme"
            android:process=":did"/>
        <meta-data
            android:name="LIBRARY_VERSION"
            android:value="1.0.5" />
    </application>

</manifest>